{% extends 'base.authentication.html.twig' %}
{% block body %}
    <div class="container container-login animated fadeIn" style="display: block;">
        <h3 class="text-center">
            <img src="{{ emailMessageSentImage }}" class="mb-3" width="97"><br>
            {{ 'An email has been sent'|trans }}
        </h3>
        <p>
            {{ 'Which contains a link you can click to reset your password.'|trans }}
            {{ 'This link will expire in'|trans }}
            <b>{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}</b>.
        </p>
        <p>{{ "If you don't receive an email, please check your spam folder or"|trans }} <a
                    href="{{ path('forgot_password_request') }}"> {{ 'try again'|trans }}</a>.</p>

        <a class="text-center btn btn-block text-dark" href="{{ path(goBackLink) }}">
            <span class="btn-label">
                <i class="fas fa-chevron-circle-left"></i>
            </span>
            {{ 'Back'|trans }}
        </a>
    </div>
{% endblock %}

