<h1>Hola {{ fullName }}!</h1>:
<p style="
    font-weight: bold;
    color: black;
    text-align: center;
">{{ 'Recently, someone requested to change the password for your account.'|trans }}</p>

<p style="
    margin-bottom: 19px;
    text-align: center;
    color: black;
">
    {{ "If you don't want to change your password or did not request to do so, please ignore and delete the message."|trans }}:
</p>

<div style="
    width: 204px;
    margin: 0 auto;"
>
    <a href="{{ url('reset_password', {token: resetToken.token}) }}"
       target="_blank"
       style="
               font-size:15px;
               color:white;
               text-decoration:none;
               padding:14px 22px;
               width:210px;
               text-align:center ;
                background:#1572E8"
    >
        {{ 'Reset Password'|trans }}
    </a>
</div>
<p style="margin-top: 19px;text-align: center;color: black">Este enlace expirará dentro de
    {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
<br>
<p style="text-align: center;color: black">
    {{ 'If you requested the change, you can create a new password here.' }}
</p><br>';




